.molcar-iwy {
  position: fixed ;
  z-index: 999999999;
  height: auto;

  transition-timing-function: ease-in !important;

  animation-name: pujui !important;
  animation-duration: .75s !important;
  animation-iteration-count: infinite !important;
}

#molcar-iwy-run {
  width: auto !important;
  right: 100vw;
  transition-duration: 50s !important;
  bottom: -4.5px;
}

#molcar-iwy-find {
  width: 108px !important;

  transition-duration: 3s !important;
  right: 50px;
  bottom: 0;
}

@keyframes pujui {
    0% { height: 72px; }
    25% { height: 73.5px; }
    50% { height: 75px; }
    75% { height: 73.5px; }
    100% { height: 72px; }
}
